<form class="form-signin" #loginForm="ngForm" (ngSubmit)="createAccount(loginForm)">
    <div class="container-fluid">
      <h2 class="form-signin-heading">Create Account</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">{{err}}</div>
      <br/>
      <input type="email" id="createusername" name="username" ngModel class="form-control" placeholder="Email" required autofocus>
      <br/>
      <input type="password" id="createpassword" name="password" ngModel class="form-control" placeholder="Password" required>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </div>
  </form>