
<div class="container-fluid pt-3 my-3 bg-dark text-white">
    <div class="row">
        <div class="col-md-9"> 
            <h1 class="display-1">Welcome to {{title}}!</h1>
        </div>
        <div class="col-md-3">
            <p>{{response[1]}}</p>
        </div>
    </div>
    <div class="jumbotron text-muted">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>{{title}}</h3>
      </div>
    </div>
</div>