<div class="row container-fluid m-0 p-0" *ngIf="currentProject!=null">

    <div class="col-md-10 bg-light p-0">

        <!-- Navbar -->
        <nav
            class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top border-right border-secondary">
            <ul class="navbar-nav mx-2">
                <!-- Page title -->
                <a class="navbar-brand text-light text-weight-bolder" href="/projects"><i
                        class="fas fa-project-diagram"></i> Logo</a>
            </ul>

            <ul class="navbar-nav mx-2">
                <!-- Create Project -->
                <li class="nav-item">
                    <button *ngIf="!modifyProject" class="btn btn-dark text-light" type="button"
                        (click)="modify()">Edit</button>
                    <div *ngIf="modifyProject" class="btn-group">
                        <button class="btn btn-outline-success mr-2" (click)=updateProject()>Save</button>
                        <button class="btn btn-outline-secondary text-light" (click)=cancel()>Cancel</button>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Infos -->
        <!-- Read mode -->
        <div class="shadow bg-light rounded p-2 m-3" *ngIf="modifyProject == false; else modifyBlock">
            <div class="row my-2 mx-0 p-0 py-2 border-top border-bottom border-muted">
                
                <div class="col-md-8">

                    <!-- Title and description-->
                    <h1>{{currentProject.title}}</h1>
                    <h5>About</h5>
                    <p>{{currentProject.description}}</p>

                    <!-- Topics and links-->
                    <h5 *ngIf="topics">Topics</h5>
                    <div class="d-inline-block" *ngFor="let info of currentProject.infos">
                        <pre *ngIf="info.type=='topic'"><b>{{info.content}}</b> </pre>
                    </div>
                    <h5 *ngIf="links">Relevant websites</h5>
                    <div *ngFor="let info of currentProject.infos">
                        <div *ngIf="info.type=='link'" class="d-inline mr-2">{{info.additionalData}}</div>
                        <a *ngIf="info.type=='link'" href={{info.content}}>{{info.content}}</a>
                    </div>

                    <!-- Start and end time -- TODO -->
                    <time></time>
                </div>

                <!-- Image -->
                <div class="col-md-4 ">
                    <img class="img-thumbnail img-fluid" src={{imgdomain}}{{currentProject.photo}}>
                </div>

            </div>
            
            <!-- Informations -->
            <br>
            <div class="p-0 m-0 ml-2" *ngFor="let info of currentProject.infos">
                <!-- Paragraph -->
                <p *ngIf="info.type==='text'" style="white-space: pre-line">{{info.content}}</p>
                <!-- Title -->
                <h2 *ngIf="info.type==='title'">{{info.content}}</h2>
                <!-- Subtitle -->
                <h4 *ngIf="info.type==='subtitle'">{{info.content}}</h4>
                <!-- Youtube video -->
                <div *ngIf="info.type==='ytvideo'" class="d-flex justify-content-center border-top border-muted pt-2 mt-2 w-100">
                    <iframe  width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(info.content)' frameborder="0" allowfullscreen></iframe>
                </div>
                <!-- Additional info for youtube video -->
                <div *ngIf="info.type==='ytvideo'" class="d-flex justify-content-center border-bottom border-muted py-2 mb-2 w-100">
                    <i>{{info.additionalData}}</i>
                </div>
            </div>
        </div>


        <!-- Modify mode -->
        <ng-template #modifyBlock>
            <div class=" shadow bg-light rounded p-2 m-3">
                <div class="row my-2 mx-0 p-0 py-2 border border-muted">
                    <div class="col-md-8">

                        <!-- Title and description -->
                        <input type="text" class="form-control form-control-lg font-weight-bolder mb-2" id="projTitle" value="{{currentProject.title}}">
                        <h5>About</h5>
                        <textarea autosize type="text" class="form-control mb-2" id="projDescription" value="{{currentProject.description}}" style="resize: none;"></textarea>

                        <!-- Topics -->
                        <h5>Topics</h5>
                        <form class="form-inline">
                            <div class="input-group" *ngFor="let info of currentProject.infos; index as i">
                                <input class="form-control mt-1" type="text" *ngIf="info.type=='topic'" id="t{{i}}" value="{{info.content}}" placeholder="Enter the topic">
                                <button class="btn btn-light mr-1" (click)="deleteInfo(i)" *ngIf="info.type=='topic'"><i  class="fas fa-times text-danger"></i></button>
                            </div>
                        </form>
                        <button class="btn btn-outline-primary my-2" (click)="addInfo('topic')">Add topic</button>

                        <!-- Links -->
                        <h5>Relevant websites</h5>
                        <div class="d-flex" *ngFor="let info of currentProject.infos; index as i">
                            <form class="form-inline w-100">
                                <input type="text" class="form-control w-25" *ngIf="info.type=='link'" id="ladd{{i}}" value="{{info.additionalData}}" placeholder="Label">
                                <input type="text" class="form-control w-75" *ngIf="info.type=='link'" id="lcon{{i}}" value="{{info.content}}" placeholder="Enter the link">
                            </form>
                            <button class="btn btn-light" (click)="deleteInfo(i)" *ngIf="info.type=='link'"><i  class="fas fa-times text-danger"></i></button>
                        </div>
                        <button class="btn btn-outline-primary my-2" (click)="addInfo('link')">Add link</button>
                    </div>
                    <!-- Image -->
                    <div class="col-md-4 ">
                        <img *ngIf="projectImage.file==null" class="img-thumbnail mb-1" src={{imgdomain}}{{currentProject.photo}}>
                        <img *ngIf="projectImage.file!=null" class="img-thumbnail mb-1" src={{projectImage.browserImg}}>
                        <div class="custom-file mb-3 ">
                            <input #imageInput type="file" accept="image/*" class="custom-file-input" id="customFile" (change)="saveImage(imageInput)">
                            <label class="custom-file-label" for="customFile">{{projectImage.placeholder}}</label>
                        </div>
                    </div>

                </div>
                
                <!-- Information -->
                <div class="mt-1 d-flex" *ngFor="let info of currentProject.infos; index as i">
                    <!-- Pargraph -->
                    <textarea autosize *ngIf="info.type==='text'" type="text" class="form-control" id="{{i}}" value="{{info.content}}" style="resize: none;" placeholder="Enter the paragraph"></textarea>
                    <!-- Title -->
                    <input *ngIf="info.type==='title'" type="text" class="form-control form-control-lg font-weight-bolder" id="{{i}}" value="{{info.content}}" placeholder="Enter the title">
                    <!-- Subtitle -->
                    <input *ngIf="info.type==='subtitle'" type="text" class="form-control font-weight-bold" id="{{i}}" value="{{info.content}}" placeholder="Enter the subtitle">
                    <!-- Youtube video -->
                    <form *ngIf="info.type==='ytvideo'" class="form-inline mb-1 w-100" >
                        <input type="text" class="form-control w-25"  id="ytlabel{{i}}" value="{{info.additionalData}}" placeholder="Video information">
                        <input type="text" class="form-control w-75"  id="ytlink{{i}}" value="{{info.content}}" placeholder="Enter the youtube link">
                    </form>
                    <!-- Delete button -->
                    <button class="btn btn-light align-self-center ml-1" (click)="deleteInfo(i)"
                            *ngIf="info.type==='subtitle' || info.type==='title' || info.type==='text' || info.type==='photo' || info.type==='video' || info.type==='ytvideo'"
                    ><i  class="fas fa-times text-danger"></i></button>
                </div>


                
                <div class="form-group form-check d-flex justify-content-between mt-3 mb-0 p-0">

                    <!-- Info add buttons for big screens -- currently disabeled -->
                    <div class="d-none">
                        <div class="btn-group">
                            <button class="btn btn-outline-primary" (click)="addInfo('title')">Add title</button>
                            <button class="btn btn-outline-primary" (click)="addInfo('subtitle')">Add subtitle</button>
                            <button class="btn btn-outline-primary" (click)="addInfo('text')">Add paragraph</button>
                        </div><br>
                        <div class="btn-group mt-2">
                            <button class="btn btn-outline-primary">Add photo</button>
                            <button class="btn btn-outline-primary">Add video</button>
                        </div>
                    </div>

                    <!-- Info add buttons for small screens-->
                    <div class="">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                                Add text
                            </button>
                            <div class="dropdown-menu">
                                <button class="btn btn-outline-primary dropdown-item" (click)="addInfo('title')">Add title</button>
                                <button class="btn btn-outline-primary dropdown-item" (click)="addInfo('subtitle')">Add subtitle</button>
                                <button class="btn btn-outline-primary dropdown-item" (click)="addInfo('text')">Add paragraph</button>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                                Add media
                            </button>
                            <div class="dropdown-menu mt-2">
                                <button class="btn btn-outline-primary dropdown-item">Add photo</button>
                                <button class="btn btn-outline-primary dropdown-item">Add video</button>
                                <button class="btn btn-outline-primary dropdown-item" (click)="addInfo('ytvideo')">Add youtube video</button>
                            </div>
                        </div>
                    </div>

                    <!-- save cancel buttons-->
                    <div class="btn-group h-50">
                        <button class="btn btn-success mr-2" (click)=updateProject()>Save</button>
                        <button class="btn btn-secondary" (click)=cancel()>Cancel</button>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>

    <!-- Other projects -->
    <div class="col-md-2 bg-dark">

        <div class="d-flex justify-content-center text-light bg-dark my-4 ">
            <h5>See Other Projects</h5>
        </div>
        <!-- Search item -->
        <div class="d-flex justify-content-center">
            <input #myInput class="form-control d-inline-block w-75 h-100" type="text" placeholder="Search"
                (input)="filterProjects(myInput.value)">
            <button class="btn btn-dark d-inline-block mw-25">
                <i class="fas fa-search bg-dark text-light"></i>
            </button>
        </div>

        <!--See other projects - For small screens-->
        <button class="btn btn-light toggler d-md-none my-2 bg-dark" type="button" data-toggle="collapse"
            data-target="#collapsible">
            <i class="fas fa-bars bg-dark text-light"></i>
        </button>

        <div class="collapse" id="collapsible">
            <ul class="list-group list-group-flush my-2">
                <a href="/infos?projectId={{project.projectId}}&userId={{project.userId}}"
                    *ngFor="let project of filteredProjects" class="list-group-item btn bg-dark text-light">
                    {{project.title}}
                </a>
            </ul>
        </div>

        <!--See other projects - For big screens-->
        <ul class="list-group list-group-flush my-2 d-none d-md-block">
            <a href="/infos?projectId={{project.projectId}}&userId={{project.userId}}"
                *ngFor="let project of filteredProjects" class="list-group-item btn bg-dark text-light">
                {{project.title}}
            </a>
        </ul>
    </div>
</div>