
<nav class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top">
    <ul class="navbar-nav mr-5 ml-2">
        <!-- Page title -->
        <a class="navbar-brand text-light text-weight-bolder" href="/projects"><i class="fas fa-project-diagram"></i> Logo</a>
    </ul>

    <!-- Search item -->
    <div class=" ml-5 d-flex justify-content-center w-25" action="/projects">
        <input #myInput class="form-control form-control d-inline-block w-75" type="text" placeholder="Search" (input)="filterProjects(myInput.value)">
        <button class="btn btn-dark d-inline-block w-25">
            <i class="fas fa-search bg-dark text-light"></i>
        </button>
        
    </div>

  
    <ul class="navbar-nav mx-2 ">

        <!-- Create Project -->
        <li class="nav-item d-inline-block mw-75 ">
            <a class="btn text-light" (click)="createProjectDisplay()">Create Project</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown d-inline-block mw-25">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                Account
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Account Info</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Share My Board</a>
            </div>
        </li>
    </ul>
</nav>

<!-- Used to put 3 card on a row -->
<div *ngFor="let deck of nbOfDecks; let i=index">
    <div class="card-deck mx-3 mt-3 justify-content-center">
        <!-- Card content -->
        <div class="card"  *ngFor="let project of filteredProjects.slice(i*3,i*3+3)" style="max-width: 30rem">
            
            <!-- Read mode -->
            <div class="card m-0" *ngIf="project.projectId!=null; else elseBlock">
                <!-- Card image-->
                <img class="card-img-top img-thumbnail" style="max-height: 50%;" src={{imgdomain}}{{project.photo}}>
                <!-- Popover -->
                <ng-template #popContent>
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-outline-primary" (click)="moveLR(project.position, 'l')">Move <i class="fas fa-angle-left"></i></button>
                        <button type="button" class="btn btn-outline-primary" (click)="moveLR(project.position, 'r')">Move <i class="fas fa-angle-right"></i></button>
                        <button type="button" class="btn btn-outline-primary">Share</button>
                        <button type="button" class="btn btn-outline-primary" (click)="deleteProject(project.projectId)">Delete</button>
                    </div>
                </ng-template>
                <button class="card-img-overlay ml-auto badge badge-pill mx-2 my-1"
                    style="max-height: 8%; max-width: 8%; background-color:rgba(255, 255, 255, 0.0); border:none; padding:0"
                    placement="bottom" [autoClose]="'outside'" [ngbPopover]="popContent">
                    <span class="mh-100 mw-100">
                        <svg viewBox="0 0 16 16" class="bi bi-three-dots h-100 w-100" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                    </span>
                </button>
                <!-- Card title and description -->
                <div class="card-body h-auto">
                    <h4 class="card-title">{{project.title}}</h4>
                    <p class="card-text">{{project.description}}</p>
                </div>
                <!--Redirect to project button-->
                <div class="card-footer">
                    <a href="/infos?projectId={{project.projectId}}&userId={{userId}}" class="btn btn-outline-primary" >See Project</a>
                </div>
            </div>
            <!-- Edit mode -->
            <ng-template #elseBlock>
                <form [formGroup]="createProjectForm" (ngSubmit)="createProject(createProjectForm.value)" class="d-flex flex-column h-100">
                    <img *ngIf="selectedImage.file==null" class="img-thumbnail mb-1" src={{imgdomain}}{{defaultimg}}>
                    <img *ngIf="selectedImage.file!=null" class="img-thumbnail mb-1" src={{selectedImage.browserImg}}>
                    <div class="custom-file mb-3 ">
                        <input #imageInput type="file" accept="image/*" class="custom-file-input" id="customFile" (change)="saveImage(imageInput)">
                        <label class="custom-file-label overflow-hidden" for="customFile">{{selectedImage.placeholder}}</label>
                    </div>
                
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter the project title" id="title"  formControlName="title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="7" placeholder="Enter the project description" id="description" formControlName="description" style="resize:none;"></textarea>
                    </div>
                    <div class="form-group form-check flex-fill d-flex  justify-content-between align-items-end  px-lg-3 px-sm-0 px-3">
                        <button type="submit" class="btn btn-success mh-50">Create</button>
                        <button class="btn btn-secondary justify-content-end mh-25" (click)=closeCreationDisplay()>Cancel</button>
                    </div>
                </form>
            </ng-template>


        </div>

    </div>
</div>
