<nav class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top">
    <ul class="navbar-nav mr-2 ml-2">
        <!-- Page title -->
        <a class="navbar-brand text-light text-weight-bolder" href="/projects"><i class="fas fa-project-diagram"></i>
            Logo</a>
    </ul>

    <!-- Search item -->
    <div class=" ml-4 d-flex justify-content-center w-25" action="/projects">
        <input #myInput class="form-control form-control d-inline-block w-75" type="text" placeholder="Search"
            (input)="filterProjects(myInput.value)" id="filter">
        <button class="btn btn-dark d-inline-block w-25">
            <i class="fas fa-search bg-dark text-light"></i>
        </button>

    </div>


    <ul *ngIf="isUserAuthenticated()" class="navbar-nav mx-2 ">
        <!-- Dropdown -->
        <li class="nav-item dropdown d-inline-block mw-25">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                Account
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item btn" (click)="createProjectDisplay()">Create Project</a>
                <a class="dropdown-item" href="#">Account Info</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Share My Board</a>
                <a class="dropdown-item btn" (click)="logOut()">Log Out</a>
            </div>
        </li>
    </ul>
    <ul *ngIf="!isUserAuthenticated()" class="navbar-nav mx-2 ">
        <!-- Login -->
        <li class="nav-item d-inline-block mw-75 ">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login">
                Log In
            </button>
        </li>
    </ul>

</nav>

<!-- Used to put 3 card on a row -->
<main>
    <!-- Card content -->
    <div class="card" *ngFor="let project of filteredProjects">

        <!-- Read mode -->
        <div *ngIf="project.projectId!=null; else elseBlock">
            <!-- Card image-->
            <div class="card-img-top img-thumbnail bg-light" id="img">
                <img class="img-fluid" src={{imgdomain}}{{project.photo}}>
            </div>
            <!-- Popover -->
            <ng-template #popContent>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-outline-primary" (click)="moveLR(project.position, 'l')">Move
                        <i class="fas fa-angle-left"></i></button>
                    <button type="button" class="btn btn-outline-primary" (click)="moveLR(project.position, 'r')">Move
                        <i class="fas fa-angle-right"></i></button>
                    <button type="button" class="btn btn-outline-primary">Share</button>
                    <button type="button" class="btn btn-outline-primary"
                        (click)="deleteProject(project.projectId, project.photo)">Delete</button>
                </div>
            </ng-template>
            <a *ngIf="isUserAuthenticated()" class="card-img-overlay badge badge-pill text-dark" placement="bottom"
                [autoClose]="'outside'" [ngbPopover]="popContent">
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <!-- Card title and description -->
            <div class="card-body">
                <h4 class="card-title">{{project.title}}</h4>
                <p class="card-text">{{project.description}}</p>
            </div>
            <!--Redirect to project button-->
            <div class="card-footer">
                <a href="/infos?projectId={{project.projectId}}&userId={{userId}}" class="btn btn-outline-primary">See
                    Project</a>
            </div>
        </div>
        <!-- Edit mode -->
        <ng-template #elseBlock>
            <form *ngIf="isUserAuthenticated()" [formGroup]="createProjectForm"
                (ngSubmit)="createProject(createProjectForm.value)" class="d-flex flex-column h-100"
                style="height: 35rem;">
                <div class="img-thumbnail bg-light" id="img">
                    <img *ngIf="selectedImage.file==null" class="img-fluid mb-1" src={{imgdomain}}{{defaultimg}}>
                    <img *ngIf="selectedImage.file!=null" class="img-fluid mb-1" src={{selectedImage.browserImg}}>
                </div>
                <div class="custom-file mb-3 ">
                    <input #imageInput type="file" accept="image/*" class="custom-file-input" id="customFile"
                        (change)="saveImage(imageInput)">
                    <label class="custom-file-label overflow-hidden"
                        for="customFile">{{selectedImage.placeholder}}</label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter the project title" id="title"
                        formControlName="title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="Enter the project description" id="description"
                        formControlName="description" style="resize:none;"></textarea>
                </div>
                <div
                    class="form-group form-check flex-fill d-flex  justify-content-between align-items-end  px-lg-3 px-sm-1 px-3">
                    <button type="submit" class="btn btn-success mh-50">Create</button>
                    <button class="btn btn-secondary justify-content-end mh-25"
                        (click)=closeCreationDisplay()>Cancel</button>
                </div>
            </form>
        </ng-template>
    </div>
</main>

<div class="btn-group d-flex justify-content-center">
    <button class="btn btn-dark text-light" (click)="showMoreLessProjects('m')">
        <i class="fas fa-angle-down"></i>
    </button>
    <button class="btn btn-dark text-light" (click)="showMoreLessProjects('l')">
        <i class="fas fa-angle-up"></i>
    </button>
</div>


<!-- Log In -->
<div class="modal fade" id="login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>