<nav class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top">
    <ul class="navbar-nav mr-2 ml-2">
        <!-- Page title -->
        <a class="navbar-brand text-light text-weight-bolder" href=""><i class="fas fa-project-diagram"></i>
            {{logo}}</a>
    </ul>
</nav>

<div class="page-wrap d-flex flex-row align-items-center ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-md-12 text-center " >
                <span class="display-1 d-block" >404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
