<nav class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top">
    <ul class="navbar-nav mr-2 ml-2">
        <!-- Page title -->
        <a class="navbar-brand text-light text-weight-bolder" href=""><i class="fas fa-project-diagram"></i>
            {{logo}}</a>
    </ul>

    <div *ngIf="!identity.isUserAuthenticated()">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login">
            Log In
        </button>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#create">
            Create account
        </button>
    </div>

    <div *ngIf="identity.isUserAuthenticated()">
        <a class="btn btn-dark" href="/projects?userId={{identity.getCurrentUserId()}}">My Page</a>
        <a class="btn btn-dark" (click)="identity.logOut()">Log Out</a>
    </div>
</nav>


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-8 d-flex bg-dark 
                        align-items-center justify-content-center rounded-circle
                        text-light" style="height: 25rem;">
                <div class="h-50" id="responsiveWidth">
                    <div class="d-flex align-items-center w-50 h-100" id="shape">
                        <h1> Welcome!</h1>
                    </div>
                       
                    <p class="mb-0 mt-4">
                        My name is Cristian Socaci and I build this app to showcase my personal projects.
                        You can check them out <a class="btn p-0 text-info" href="/projects?userId=0">here</a>.
                        If you wish to showcase your own projects,
                        <a class="btn p-0 text-info" data-toggle="modal" data-target="#create">
                            create an account
                        </a>
                        and start making your presentations.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>


 <!-- Log In -->
 <div class="modal fade" id="login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <app-login redirect="true"></app-login>
            </div>
        </div>
    </div>
</div>
<!-- Create account-->
<div class="modal fade" id="create">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <app-create-account></app-create-account>
            </div>
        </div>
    </div>
</div>



