<nav class="navbar navbar-expand-md bg-dark text-light justify-content-between sticky-top">
    <ul class="navbar-nav mr-2 ml-2">
        <!-- Page title -->
        <a class="navbar-brand text-light text-weight-bolder" href=""><i class="fas fa-project-diagram"></i>
            Logo</a>
    </ul>

    <a href="/projects?userId=0">go</a>

    <div *ngIf="!isUserAuthenticated()">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login">
            Log In
        </button>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#create">
            Create account
        </button>
    </div>

    <div *ngIf="isUserAuthenticated()">
        <a class="btn btn-dark" href="/projects?userId={{getCurrentUserId()}}">My Page</a>
        <a class="btn btn-dark" (click)="logOut()">Log Out</a>
    </div>
</nav>


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center" style="background-color: rgba(0, 0, 0, 0.1);">
                <h1 class="display-1 d-block">Welcome!</h1>
            </div>
        </div>
    </div>
</div>






 <!-- Log In -->
 <div class="modal fade" id="login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <app-login redirect="true"></app-login>
            </div>
        </div>
    </div>
</div>
<!-- Create account-->
<div class="modal fade" id="create">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <app-create-account></app-create-account>
            </div>
        </div>
    </div>
</div>



