.page-wrap {
    min-height: 90vh;
}

#shape{
    shape-outside: polygon(40% -10%, 100% 50%, 40% 110%); 
    float:left;
}


p{
    font-size: 0.8rem;
}
h1{
    font-size: 2rem;
}

@media screen and (min-width: 367px){
    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 411px){
    h1{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 496px){
    h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 538px){
    #responsiveWidth{
        width:90%;
    }
}


@media screen and (min-width: 768px){
    #responsiveWidth{
        width:100%;
    }
}

@media screen and (min-width: 992px){
    #responsiveWidth{
        width:80%;
    }
}


@media screen and (min-width: 1200px){
    #responsiveWidth{
        width:70%;
    }
}
